.c-media-overview {
  height: 100%;
  overflow: auto;
  position: relative;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.sort-dropdown {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;  /* Espace entre le menu et les cartes */
}

.c-media-overview__card {
  cursor: grab; /* Indique que la carte est draggable */
  position: relative;
  background: var(--thumbnail-background-color);
  color: white;
  box-shadow: 6px 6px 6px #555;
  width: 300px;
  margin: 5px;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Assure que l'image et le texte sont bien espacés */
  padding: 10px; /* Ajoute un peu de padding à l'intérieur de la carte */

  &.hidden {
    scale: 0.8;
    opacity: 70%;
    background: var(--hidden-thumbnail-background-color);

    .c-image-media-card__image {
      filter: grayscale(1);
    }

    .c-thumbnail-button {
      border-color: var(--hidden-thumbnail-background-color);
    }
  }
}

.c-media-overview__image {
  cursor: pointer;
  width: 100%;
  display: block;
  height: 200px; /* Ajuste la hauteur selon ton besoin */
}

/* Le style pour .c-media-overview__drag-corner a été supprimé */

.c-media-overview__card-title {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;  /* Assure que le texte s'adapte à la largeur de la carte */
  margin-top: 5px;  /* Espace entre l'image et le texte */
}
