// src/client/main-page/components/media-overview/media-overview.scss

.c-media-overview {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0;
  overflow: auto;
}

.c-media-overview__card {
  width: 300px;
  height: 250px;
  margin: 5px;
  background: var(--thumbnail-background-color);
  box-shadow: 6px 6px 6px #555;
  position: relative;
  color: white;
  font-size: 0.9em;
  box-sizing: border-box;
  cursor: pointer; // Le curseur indique que l'élément est cliquable

  &.hidden {
    transform: scale(0.8);
    opacity: 70%;
    background: var(--hidden-thumbnail-background-color);

    .c-image-media-card__image {
      filter: grayscale(1);
    }

    .c-thumbnail-button {
      border-color: var(--hidden-thumbnail-background-color);
    }
  }
}

// Styles pour la poignée de glissement
.drag-handle {
  cursor: move;
  display: inline-block;
  padding: 5px;
  font-weight: bold;
  font-size: 1.2em;
  user-select: none; // Empêche la sélection du texte lors du glissement
}
